.Header-Bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d3d3d3;
  z-index: 100
}


.Left-Section {
  display: flex;
  align-items: center;
}

.Youtube-Logo {
  height: 20px;
}

.Hamburger-Icon {
  height: 24px;
  margin-right: 15px;
  margin-left: 28px;
}

.Middle-Section {
  display: flex;
  flex: 1;
  max-width: 500px;
  align-items: center;
  margin-left: 70px;
  margin-right: 35px;
}

.Search-Box {
  flex: 1;
  width: 0;
  height: 36px;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, .05);
}

.Search-Box::placeholder {
  font-family: 'Roboto', Arial
}

.Search-Box:focus {
  outline-color: #195bd4;
  outline-width: 0.5px;
}

.Search-Icon {
  height: 25px;
}

.Voice-Search-Icon {
  height: 24px;

}

.Search-Button {
  height: 38px;
  width: 64px;
  margin-left: -1px;
  margin-right: 10px;
  border: 1px solid #ccc;

}

.Voice-Search-Button {
  border-radius: 20px;
  height: 40px;
  width: 40px;
  border: 1px solid #ccc;
  border: none;
}

.Right-Section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}



.Create-Icon,
.Apps-Icon,
.Notifications-Icon,
.User-Profile-Picture {
  height: 24px;
}

.Notifications {
  position: relative;
}

.Notification-Count {
  font-family: 'Roboto', Arial;
  position: absolute;
  top: -3px;
  right: -4px;
  background-color: rgb(184, 3, 3);
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Search-Button,
.Create-Tool,
.Apps-Tool,
.Notifications {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Search-Button .Tool-Tip,
.Voice-Search-Button .Tool-Tip,
.Create-Tool .Tool-Tip,
.Apps-Tool .Tool-Tip,
.Notifications .Tool-Tip {
  font-family: 'Roboto', Arial;
  position: absolute;
  bottom: -40px;
  background-color: #8a8888;
  color: white;
  font-size: 13px;
  padding: 5px 8px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;

}

.Search-Button:hover .Tool-Tip,
.Voice-Search-Button:hover .Tool-Tip,
.Create-Tool:hover .Tool-Tip,
.Apps-Tool:hover .Tool-Tip,
.Notifications:hover .Tool-Tip {
  opacity: 1;
}