.SideBar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 78px;
  background-color: white;
}

.SideBar-Item {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.SideBar-Item:hover {
  background-color: rgb(240, 240, 240);
}

.SideBar-Icon {
  width: 24px;
  height: 24px;
}

.SideBar div {
  font-family: 'Roboto', Arial;
  font-size: 10px;
  margin-top: 4px;
}